<div class="nav-container">
    <div class="logo-container">
      <img src="../assets/logo.svg" alt="logo"> 
    </div>
    <div class="menu-container">
      <div class="dropdown">
        <button class="dropbtn">Language</button>
        <div class="dropdown-content">
          <a href="#">English</a>
          <a href="#">Dutch</a>
        </div>
      </div>
      <button class="about-btn">About</button>
      <button class="button">User Authentication</button>
      <button class="button">Admin Authentication</button>
    </div>
  </div>
  